<h1>Welcome to PostCommentsApp.com, <%= @user.name %></h1>
  <p>
    Your account have been inactivated
    your username is: <%= @user.email%>.<br>
  </p>
<p>We are sorry! We will get back to you soon.</p>