<h1>Welcome to PostCommentsApp.com, <%= @user.name %></h1>
  <p>
    Your account have been activated
    your username is: <%= @user.email%>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>